<h1>Login</h1>
<hr>
<div>
  <form>
    <p *ngIf="error" class="error">{{ error }}</p>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email"
             name="email"
             type="email"
             [(ngModel)]="email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password"
             name="password"
             type="password"
             [(ngModel)]="password" />
    </div>
    <button [disabled]="isLoading || email === '' || password === ''"
            (click)="login()">
      {{ isLoading ? 'Logging in...' : 'Log In'}}
    </button>
  </form>
</div>
