form {
  display: table;
}

.form-group {
  display: table-row;

  label {
    padding-right: 1.5rem;
  }

  label,
  input {
    display: table-cell;
  }

  &:not(:first-child) {
    label {
      padding: 1rem 1rem 1rem 0;
    }
  }
}

.error {
  color: red;
}
