<div class="container">
    <ul class="msg-list">
        <li *ngFor="let msg of messages$ | async"
            [class]="msg.type"
            [class.me]="msg.sender.id === auth.user!.id">
            <span *ngIf="msg.type === 'message'"
                  class="user">{{ msg.sender.name }}</span>
            <span class="msg msg--{{ msg.type === 'log' ? 'log' : (msg.sender.id === auth.user!.id ? 'me' : 'stranger') }}">
              {{ msg.message }}</span>
            <small>{{ msg.created_at | date }}</small>
        </li>
    </ul>
    <div class="send-box">
    <textarea id="message"
              name="message"
              cols="30"
              rows="10"
              [disabled]="inputDisabled"
              [(ngModel)]="message"></textarea>
        <button type="submit"
                [disabled]="inputDisabled"
                (click)="submit()">Submit
        </button>
    </div>
</div>
