.container {
  display: flex;
  flex-direction: column;
}

.msg-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

li {
  &.message {
    display: flex;
    flex-direction: column;
  }

  &.log {
    margin-left: auto;
    margin-right: auto;
  }

  &.me {
    margin-right: auto;

    small {
      text-align: left;
    }
  }

  &:not(.me) {
    margin-left: auto;

    small {
      text-align: right;
    }
  }

  small {
    color: #bdbdbd
  }
}

.msg {
  display: inline-block;
  margin-top: .5rem;
  padding: 1rem;
  border-radius: 5px;

  &--log {
    color: #777777;
  }

  &--me {
    background-color: #73b0ff;
  }

  &--stranger {
    background-color: #e2e2e2;
  }
}

.send-box {
  display: flex;
  width: 100%;

  textarea {
    flex: 1;
  }
}
